/* Global styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: right;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
  }
  
  nav li:first-child {
    margin-left: 0;
  }
  
  nav a {
    color: white;
    text-decoration: none;
  }
  
  nav a:hover {
    text-decoration: underline;
  }
  
  main {
    padding: 20px;
  }
  
  .center {
    text-align: center;
  }
  
  .color-red {
    color: red;
  }
  
  .font-size-large {
    font-size: 24px;
  }
  